---
import Layout from "../layouts/Layout.astro";
import GetStartedButton from "../components/GetStartedButton";
import { user } from "../store/store";
import { getClient } from "../lib/ld-server";

// get the logged in user data from the server side state store
// if none is set, set an anonymous user context
let userData = user.get();
if (JSON.stringify(userData) === "{}") {
  userData = {
    kind: "user",
    anonymous: true,
    key: "anonymous-1",
  };
}
const ldClient = await getClient();
const heroText = await ldClient.variation("hero-text", userData, "");
---

<Layout title="ToggleSoft">
  <div class="mx-auto container py-12 px-4">
    <div class="w-full flex justify-center">
      <div
        class="w-full md:w-11/12 xl:w-10/12 bg-gradient-to-r from-[#405BFF] to-[#A34FDE] md:py-8 md:px-8 px-5 py-4 xl:px-12 xl:py-16"
      >
        <div>
          <div class="flex flex-wrap items-center md:flex-row flex-col-reverse">
            <div
              class="w-full pb-6 flex-col block flex items-center justify-center pt-4"
            >
              <div>
                <h1
                  role="heading"
                  class="text-8xl text-white font-black leading-6"
                >
                  ToggleSoft
                </h1>
                <h2 class="mt-12 text-xl text-white font-black text-center">
                  {heroText}
                </h2>
              </div>
              <GetStartedButton client:only="react" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
