---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ToggleSoft">
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div class="mx-auto container py-12 px-4">
    <div class="w-full flex justify-center">
      <div
        class="w-full md:w-11/12 xl:w-10/12 bg-gradient-to-r from-[#405BFF] to-[#A34FDE] md:py-8 md:px-8 px-5 py-4 xl:px-12 xl:py-16"
      >
        <div>
          <div class="flex flex-wrap items-center md:flex-row flex-col-reverse">
            <div
              class="w-full pb-6 flex-col block flex items-center justify-center pt-4"
            >
              <div>
                <h1
                  role="heading"
                  class="text-8xl text-white font-black leading-6"
                >
                  ToggleSoft
                </h1>
                <h2 class="mt-12 text-xl text-white font-black text-center">
                  Boldly going where no SaaS has gone before!
                </h2>
              </div>
              <a
                href="/signup"
                role="button"
                aria-label="Join the community"
                class="block mt-10 py-3 px-4 bg-white font-bold text-indigo-700 rounded-lg text-lg hover:bg-opacity-90 focus:ring-2 focus:ring-offset-2 focus:ring-white focus:outline-none"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
