---
import Layout from "../layouts/Layout.astro";
import PricingCard from "../components/PricingCard.astro";
import { user } from "../store/store";
import { getClient } from "../lib/ld-server";

// get the logged in user data from the server side state store
// if none is set, set an anonymous user context
let context = user.get();
if (JSON.stringify(context) === "{}") {
  context = {
    kind: "user",
    anonymous: true,
    key: "anonymous-1",
  };
}

const ldClient = await getClient();
const pricingData = await ldClient.variation("pricing-plans", context, {});
---

<Layout title="ToggleSoft Pricing">
  <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
      We've got plans for everyone
    </h2>
    <p class="mb-5 font-light text-gray-500 sm:text-xl">
      We have solutions to your problems. No problems? We've got a solution for
      that too.
    </p>
  </div>
  <div
    id="pricingCards"
    class=`lg:grid lg:grid-cols-${pricingData.plans.length} sm:gap-6 xl:gap-10 lg:space-y-0`
  >
    {
      pricingData.plans.map((plan) => (
        <PricingCard
          id="starterCard"
          title={plan.name}
          subhead={plan.description}
          price={plan.price}
        />
      ))
    }
  </div>
</Layout>
