---

---

<h1
  class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
>
  Create your account
</h1>
<form id="accountForm" class="space-y-4 md:space-y-6" method="post">
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
      >Your email</label
    >
    <input
      required
      type="email"
      name="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
      placeholder="name@company.com"
      required=""
    />
  </div>
  <div>
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
      >Password</label
    >
    <input
      required
      type="password"
      name="password"
      id="password"
      placeholder="*****"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
      required=""
    />
  </div>
  <div>
    <label for="dev_type" class="sr-only">Account type</label>
    <select
      name="dev_type"
      id="dev_type"
      class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 peer"
    >
      <option selected>You are a...</option>
      <option value="hobbyist">Hobbyist Developer</option>
      <option value="professional">Professional Developer</option>
    </select>
  </div>
  <button
    type="submit"
    class="w-full text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
  >
    Create Account
  </button>
  <div>
    <a
      href="/"
      class="block w-full text-white bg-slate-200 hover:bg-slate-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      Cancel
    </a>
  </div>
</form>
