---
import LoginButton from "../components/LoginButton.astro";

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script is:inline>
      var global = global || window;
    </script>
  </head>
  <body>
    <section id="mainContent" class="bg-white m-4">
      {
        Astro.url.pathname !== "/signup" &&
          Astro.url.pathname !== "/signin" && <LoginButton />
      }
      <slot />
    </section>
  </body>
</html>
